/* Custom styles for cards */

.card {

    transition: transform 0.3s ease-in-out;

}



.card:hover {

    transform: scale(1.05);

}



/* Custom button style */

.btn-custom {

    background-color: #0096FF;

    color: white;

}



.btn-custom:hover {

    background-color: #5541d8 !important;

    color: white !important;

    transform: scale(1.05);
}



/* Custom background for specific sections */

.custom-bg {

    background-color: #363737;

    padding: 20px;

    border-radius: 10px;

}

/* Custom white colour for text */

.white {

    color: #ffffff;

}

/* Custom text size for subtitle */

.subtitle {
    
    font-size: 150%;

}

/* Custom sizing for home page card images */

.card-img-top {
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-radius: 5%;
}

.card {
    border-radius: 5%;
}