{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<!--Page Title-->
<h1 style="text-align: center">Add a Game</h1>
<form method="POST" action="/add">
  <!--Image Input-->
  <div class="mb-3">
    <label for="image" class="form-label">Image</label>
    <input
      type="text"
      class="form-control"
      id="image"
      placeholder="Input the image src"
      name="image"
    />
  </div>
  <!--Title Input-->
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      placeholder="Input the title of the game"
      name="title"
      required
      minlength="2"
      maxlength="100"
    />
  </div>
  <!--Publisher Input-->
  <div class="mb-3">
    <label for="publisher" class="form-label">Publisher</label>
    <input
      type="text"
      class="form-control"
      id="publisher"
      placeholder="Input the game's publisher"
      name="publisher"
      required
      minlength="2"
      maxlength="100"
    />
  </div>
  <!--Date Input-->
  <div class="mb-3">
    <label for="date" class="form-label">Release Year</label>
    <input
      type="text"
      class="form-control"
      id="date"
      placeholder="Input the year the game was released"
      name="date"
    />
  </div>
  <!--Rating Input--> 
  <div class="mb-3">
    <label for="rating" class="form-label">Rating</label>
    <input
      type="text"
      class="form-control"
      id="rating"
      placeholder="Enter the rating 1-10"
      name="rating"
    />
  </div>
  <!--Genre Input-->
  <div class="mb-3">
    <label for="genre" class="form-label">Genre</label>
    <input
      type="text"
      class="form-control"
      id="genre"
      placeholder="Enter the genre of the game"
      name="genre"
    />
  </div>
  <!--Description Input-->
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea
      class="form-control"
      id="description"
      rows="3"
      name="description"
    ></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
