{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<h1 style="text-align: center">Edit {{game.title}}</h1>
<form method="POST" action="/edit">
  <input type="hidden" name="id" value="{{game.id}}" />
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      placeholder="Input the title of the game"
      name="title"
      value="{{game.title}}"
    />
  </div>
  <div class="mb-3">
    <label for="publisher" class="form-label">Publisher</label>
    <input
      type="text"
      class="form-control"
      id="publisher"
      placeholder="Input the game's publisher"
      name="publisher"
      value="{{game.publisher}}"
    />
  </div>
  <div class="mb-3">
    <label for="date" class="form-label">Release Year</label>
    <input
      type="text"
      class="form-control"
      id="date"
      placeholder="Input the year the game was released"
      name="date"
      value="{{game.date}}"
    />
  </div>
  <div class="mb-3">
    <label for="rating" class="form-label">Rating</label>
    <input
      type="text"
      class="form-control"
      id="rating"
      placeholder="Enter the rating 1-10"
      name="rating"
      value="{{game.rating}}"
    />
  </div>
  <div class="mb-3">
    <label for="genre" class="form-label">Genre</label>
    <input
      type="text"
      class="form-control"
      id="genre"
      placeholder="Enter the genre of the game"
      name="genre"
      value="{{game.genre}}"
    />
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea
      type="text"
      class="form-control"
      id="description"
      rows="3"
      placeholder="Enter a description"
      name="description"
      value="{{game.description}}"
    ></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<!-- Add your page-specific content here -->

{% endblock %}
