{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<body>
  <!-- Container for content -->
  <div class="container mt-4">

    <!-- Heading -->
    <h1 class="mb-4" style="text-align: center">The Video Game Database</h1>
    
    <!-- Row for the individual game cards -->
    <div class="row">
      {% for game in games %}
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card custom-bg mb-4">
          <img src="{{ game.image }}" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="white subtitle"><strong>{{ game.title }}</strong></p>
            <a class="btn btn-custom" href="{{ url_for('view_item', id=game.id) }}" role="button">View Details</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</body>
{% endblock %}