{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<!-- Single column for content -->
<div class="single_column">

  <!-- Card container -->
  <div class="card mb-3 custom-bg">
    <div class="row g-0">

      <!-- Card image section -->
      <div class="col-md-6">
        <img src="{{game.image}}" class="img-fluid card-img-top" alt="..." />
      </div>

      <!-- Card body with text and buttons -->
      <div class="col-md-6">
        <div class="card-body">
          <!-- Game details: Title, Year, Rating, Publisher, Genre, Description -->
          <h1 class="card-title white">{{game.title}} ({{game.date}})</h1>
          <p class="card-text white"><strong>Rating: </strong>{{game.rating}}/10</p>
          <p class="card-text white"><strong>Publisher: </strong>{{game.publisher}}</p>
          <p class="card-text white"><strong>Genre: </strong>{{game.genre}}</p>
          <p class="card-text white"><strong>Description: </strong>{{game.description}}</p>
          
          <!-- Edit and Delete buttons -->
          <a
            class="btn btn-custom"
            href="{{url_for('edit_item', id=game.id)}}"
            role="button"
            >Edit Game Details
          </a>
          <a
            class="btn btn-custom"
            href="{{url_for('delete_item', id=game.id)}}"
            role="button"
            >Delete Game
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
